ul{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
button{
    color: white;
    background: green;
    border-radius: 10px;
    border-style: none;
    width: 60%;
    height: 40%;
}

#search{
width: 150px;
border-radius: 10px;
bor


}